.alarm-clock-body {
    background: linear-gradient(135deg, #d44b90, #dd4242);
    height: 100vh;
    margin: 0;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: block;
    background-size: cover;
  }
  
  /* Alarm clock container styles */
#alarm-clock-container {
    max-width: 300px;
    margin: 40px auto;
    padding: 20px;
    background-color: #ce7e7e;
    border: 2px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-top: 10px;
    padding-top: 10px;
}

#current_time {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Form styles */
form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

label {
    margin-right: 10px;
    font-weight: bolder;
    margin: 10px 5px;
}

#am_pm {
    margin: 0px 7px ;
}

select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;

}

select:hover {
    background-color: #e0e0e0; /* light gray background on hover */
}

#set_alarm {
    padding: 10px 20px;
    background-color: #4CAF50; /* green background */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#set_alarm:hover {
    background-color: #3e8e41; /* darker green background on hover */
}

/* Alarm list styles */
#alarm-list-container {
    max-width: 300px;
    background-color: transparent;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(247, 243, 243, 0.7);
    text-align: center;
    padding: 20px;
    display: flex; /* make the list items display as flex items */
    flex-wrap: wrap; /*allow the list items to wrap to the next line*/
    justify-content: center; 
    margin: auto;
    margin-top: 10px;
}

#alarm_list {
    list-style: none;
    padding: 0;
    margin: 0;
    
}

#alarm_list li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    margin: 10px; /* add some margin to each list item */
    background-color: #f9f9f9; /* add a light gray background to each list item */
    border-radius: 5px; /* add a subtle border radius to each list item */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.05); /* add a subtle box shadow to each list item */
}

#alarm_list li:last-child {
    border-bottom: none;
}

.delete-button {
    background-color: #f53030; /* red background */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
    margin-left: 5px;
    padding: 10px 20px;
}

.delete-button:hover {
    background-color: #cc0000; /* darker red background on hover */
}